/* .header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}
.hit .product-picture-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.hit .product-picture {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
.hit .product-picture img {
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 150px;
  max-width: 100%;
}
